USE [master]
GO
/****** Object:  Database [SampleKSIDb]    Script Date: 10/12/2016 9:36:51 AM ******/
CREATE DATABASE [SampleKSIDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SampleKSIDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SampleKSIDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SampleKSIDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SampleKSIDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SampleKSIDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SampleKSIDb]
GO
/****** Object:  Table [dbo].[KRS]    Script Date: 10/12/2016 9:36:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KRS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nim] [varchar](8) NOT NULL,
	[Kode] [varchar](5) NOT NULL,
 CONSTRAINT [PK_KRS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mahasiswa]    Script Date: 10/12/2016 9:36:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mahasiswa](
	[Nim] [varchar](8) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[IPK] [float] NOT NULL,
 CONSTRAINT [PK_Mahasiswa] PRIMARY KEY CLUSTERED 
(
	[Nim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Matakuliah]    Script Date: 10/12/2016 9:36:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Matakuliah](
	[Kode] [varchar](5) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[Sks] [int] NOT NULL,
 CONSTRAINT [PK_Matakuliah] PRIMARY KEY CLUSTERED 
(
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[KRS]  WITH CHECK ADD  CONSTRAINT [FK_KRS_Mahasiswa] FOREIGN KEY([Nim])
REFERENCES [dbo].[Mahasiswa] ([Nim])
GO
ALTER TABLE [dbo].[KRS] CHECK CONSTRAINT [FK_KRS_Mahasiswa]
GO
ALTER TABLE [dbo].[KRS]  WITH CHECK ADD  CONSTRAINT [FK_KRS_Matakuliah] FOREIGN KEY([Kode])
REFERENCES [dbo].[Matakuliah] ([Kode])
GO
ALTER TABLE [dbo].[KRS] CHECK CONSTRAINT [FK_KRS_Matakuliah]
GO
USE [master]
GO
